<%= stylesheet_link_tag 'top-bar' %>
<div class="banner">
	<div class="home">
		<h1 class="home-title">Training for 3D Designers</h1>
		<div class="cell">
			<p>رؤية مختلفة لمستقبل افضل</p>
			<%= link_to "Create FREE Account", new_user_registration_path, class: "button secondary btn btn--1" %>
			<a class="hollow button btn btn--2" href="#">Explore Our Screencasts</a>
		</div>
	</div>
</div>