<div class="expanded reg-bg">
	<div class="row">	
		<div class="small-centered medium-centered large-centered medium-6 large-4 columns reg-box">
			<h3 class= "text-center float-center">Welcome Back!</h3>
			<p></p>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
			    <%= f.input :login, required: false, autofocus: true, placeholder: "Email or username", label: false, validate: true %>
			    <%= f.input :password, required: false, placeholder: "Password", label: false, validate: true %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Sign in", class: "expanded" %>
			  </div>
			<% end %>

			<%= link_to "Sign up for an account", new_registration_path(resource_name), class: "text-center float-center" %>
			<p></p>
			<%= link_to "Forgot password?", new_password_path(resource_name), class: "text-center subheader float-center" %>
		</div>
	</div>
</div>