<div class="nav-sub">  
   <i class="ion-ios-monitor-outline" style="font-size:35px;">  <h3 style="display: inline-block;">Screencasts</h3></i>
</div>

<div class="row">

	<div class="side large-2 columns show-for-large">
  <div class="tag-title">
    <h4 class="text-right">التصنيفات</h4>    
  </div>
    <ul class="vertical menu side-nav">
    <li class="text-right is-active"><%= link_to "All FREE", episodes_path %></li>
    <hr>
      <% Tag.all.each do |tag| %>
        <li class="text-right">
          <%= link_to tag.name, episodes_path(tag: tag.name) %>
        </li>
        <hr>   
      <% end %>
    </ul>
	</div>

  <div class="episodes large-10 columns">
    <%= react_component 'Episodes', episodes: @episodes %>
  </div>
</div>