<div class="bgvideo">
	<div class="row">
	<div class="responsive-embed">	
	<%# video_tag @episode.video, width: '100%', controls: true %>
	<iframe src='https://www.youtube.com/embed/<%= @episode.video %>?rel=0&showinfo=0&" autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
	</div>		
	</div>

</div>
<div class="epi-bg">
	<div class="row">
		<div class="epi-dis rtl">

			<!-- <div class="large-1 small-2 columns float-left heart">
				<div id="episode_<%# @episode.id %>_likes">
				  <%# render partial: "vote", locals: {episode: @episode} %>
				</div>
			</div> -->
			<div class="large-11 small-10 columns float-right">
				<h3><%= @episode.title %></h3>
				<h6><small><%= @episode.created_at.strftime('%b %d, %Y') %></small></h6>
			</div>
			<div class="large-10 columns float-right">
				<%= @episode.content %>
			</div>
			<hr>
				<ul class="menu float-right">
					<li>
						<% @episode.tag_list.map do |t| %>
							<%= link_to t, episodes_path(tag: t) %> 
						<% end %> 
					</li>
				</ul>	

			<hr>
			
		</div>
		<div class="comment rtl float-right">
			<h5>التعليقات</h5>
			<hr>
			<%# render partial: "comments/comments", locals: {commentable: @episode} %>
		    <%# render partial: "comments/form", locals: {commentable: @episode} if user_signed_in? %>
		</div>		
	</div>
</div>
