<div class="expanded reg-bg">
	<div class="row">
		<div class="medium-7 medium-centered large-5 large-centered columns reg-box">
			<h3>Forgot your password?</h3>
			<p>Enter your email address and we’ll send you a link to reset your password.</p>

			<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  

			  <div class="form-inputs">
			    <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Reset My Password", class: "expanded" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
