/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "front.scss";
 @import "home.scss";
 @import "profile.scss";
 @import "episodes.scss";
 @import "wd.scss";
 @import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css);
 @import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css);