
.nav-sub {
    margin-bottom: 3em;
    background: #42596b;
    text-align: center;
    color: #fff;
    padding: 5vh;
    border-bottom: 1px solid #f1f1f1;
}

h4, h5{
	font-family: 'Noto Kufi Arabic', sans-serif;    	
}

// show
.bgvideo{
  background: #151b20;
  line-height: 0px;
}
.epi-bg{
    background: #fcfcfc;
    .ion{
      color: #e44646;
    }
    .row{
        background: #fff;   
        padding: 0px 20px 0px 0px;
    }
    .rtl{
        direction: rtl;
    }
    .epi-dis{   
    // border-bottom: 1px solid #f1f1f1;
    margin-bottom: 35px;
    padding-top: 10px;
    }
    .comment_body{
        width: 800px;
        margin: auto;
    }
    .menu>li>a {
    display: inline-block;
    padding: .3rem .6rem;
    color: #fff;
    background: #e42c2c;
    border-radius: 3px;
    }
    hr {margin: .8rem auto;}
}
.comment-actions {
    margin-bottom: 60px;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-row {
    width: 50%;
    float: left;
}


.sbutton {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    margin-left: 12px;
    margin-top: 26px;
}
.responsive-embed{
  padding-bottom: 56.35%;
  margin-bottom: 0rem; 
}