body{
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.header{
  background: #2c3840;
  padding: 0.9rem;
  ul{background: #2c3840;}
  .menu li a{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      color: #eee;
  	}
  }
}

img.avatar{
  width: 40px;
  padding: 0px !important;
  &:after {
    margin-right: -25px !important;
    border-color: #b0bec2 transparent transparent !important ;
  }
}

.logo{
  width: 180px;
  float: left;
  margin: 0px 18px;
}
.logo_{
  display: none;
}
.reg-box{
  background: #fff;
  padding: 30px 15px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  margin-top: 5%;
  max-width: 94%;
  float: inherit;
  input {
    border-radius: 3px;
    border: 1px solid #aebdc1;
    background: #f6f8f8;
    height: 2.8rem;
  }
  .button{
    background: #1779ba !important;
  }
}
.reg-bg{
  // background: linear-gradient(to right, #0084bf, #0c8996);
  background: #f6f8f8;
  min-height: calc(100vh - 70px);
  height: 100%;
}


.note{
    position: absolute;
    margin: auto 40%;
    top: 0;
    width: 25%;
    padding: 1.1rem;
    z-index: 2;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
  &:last-child {
    margin-bottom: 0;
  }
}
.close {
  display: none;
}

.drawer-nav{
  margin-top: 4.5rem;
}
.off-canvas {
    background: rgba(0, 0, 0, 0.85);
    ul a{
      color: #fff;
      padding: 18px;
      text-align: center;
    }
}
.position-top {
    height: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.close-button {
  right: 1.5rem;
  top: 1rem;
  .line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
  &:last-child {
    margin-bottom: 0;
  }
}

  .line:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
  }

  .line:nth-child(2) {
    transform: translateY(-5px) rotate(45deg);
  }
}

.is-open + .off-canvas-content .hamburger {  
  display: none;
}
.is-dropdown-submenu {
    min-width: 120px;
}
.ion{
  font-size: 25px;
}

$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}

small.error {
    color: #ff0c0c;
  }

abbr{
  border-bottom: none !important;
  color: #f10000;
}