  <div class="header">
    <div class="row">
      <div class="top-bar-left">
        <%= link_to image_tag("logo_.png"), root_path, class: "logo_" %>
        <%= link_to image_tag("logo.png"), root_path, class: "logo" %>
      </div>
      
      <div class="title-bar-right" >
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="hamburger" type="button" data-open="offCanvas">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
          </span>
      </div>
        
      <div class="top-bar-right" id="responsive-menu" data-hide-for="large" >
        <ul class="dropdown menu" data-dropdown-menu>
          
          <li><%# link_to 'Blog', posts_path  %></li>
          <li><%= link_to "Screencasts", episodes_path %></li>
          <li><%# link_to "Admin", rails_admin_path %></li>
          <li><% if user_signed_in? %>
            <li><%= image_tag (current_user.profile.avatar), class: "avatar" %>
              <ul class="dropdown menu" data-dropdown-menu>
                <li><%= link_to "Profile", profile_path(current_user.username) %></li>
                <li><%= link_to "Sitting", edit_user_registration_path %></li><br>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to 'Join Us', new_user_session_path  %></li>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>

