<div class="expanded reg-bg">
	<div class="row">
		<div class="small-centered medium-centered large-centered medium-7 large-5 columns reg-box">
			<h4>Create Your Account</h4>

			<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
			  <%= f.error_notification %>

			  <div class="form-inputs">
			    <%= f.input :username, required: true, autofocus: true, placeholder: "Username", validate: true %>
			    <%= f.input :email, required: true, placeholder: "Email", class: "login-box-input" %>
			    <%= f.input :password, validate: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Password", class: "login-box-input" %>
			  </div>

			  <div class="form-actions">
			  <small>By registering, you agree to the privacy policy and terms of service.</small>
			  <p></p>
			    <%= f.button :submit, "Create an account", class: "expanded" %>
			  </div>
			<% end %>

			<%= render "users/shared/links" %>
		</div>		
	</div>
</div>